.formulario{
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	padding: 1rem;
	border-radius: 0.5rem;
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.campo{
	margin-bottom: 1rem;
}
.eye{
	margin-bottom: 1rem;
}
