<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>
	<link rel="stylesheet" href="../styles/index.css" />
</head>

<body>
	<header class="cabecera">
		<nav class="navegacion">
			<div>
				<img src="https://i.pinimg.com/236x/db/31/5a/db315a6647c7f14efb3064e5e286e2a2.jpg" width="80"
					height="80" />
				Ligo leyens
				<span>
					<h2>juego apto para mancos</h2>
				</span>
			</div>
			<ul>
				<li><a href="../index.html">Inicio</a></li>
				<li><a href="./registro.html">Registro</a></li>
				<li><a href="./nosotros.html">Nosotros</a></li>
			</ul>

		</nav>
	</header>
	<main>
		
		<section class="hero-section">
		</section>
	</main>
<footer>
	<p>Todos los derechos reservados a Ligo leyens<strong>&copy;2024</strong></p>
</footer>
</body>

</html>